# dependencies
/identity-server/node_modules
/resource-server/node_modules
/.pnp
.pnp.js
/.vscode/
/identity-server/package-lock.json
/resource-server/package-lock.json

# misc
/identity-server/config/config.env
/resource-server/config/config.env

/.env
/node_modules