<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login 1</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <main>
        <header>
            <aside>
                <!-- Aside box won't show details, show points  -->
                <p class="highScoreHeader">Hight score: </p>
            </aside>
        </header>
    <section class="">
        <img
        id="firstImage"
        class="hiddenImages"
        alt="Desk"
        src="/images/Hyperspace - Floating.png"
      />
        <img
        id="secondImage"
        class="hiddenImages"
        alt="Desk"
        src="../public/images/Hyperspace - Mr Roboto.png"
      />
    </section>
</main>

<script src="/js/welcome.js"></script>
</body>
</html>